<div class="container">
    <div>
      <div class="content">
        <h2>Amor</h2>
        <span>Rosas, tulipanes y flores románticas</span>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>Cumpleaños</h2>
        <span>Arreglos coloridos y alegres para celebrar</span>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>Consolación</h2>
        <span>Flores suaves para momentos difíciles</span>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>Decoración</h2>
        <span>Flores para embellecer espacios y eventos</span>
      </div>
    </div>
  </div>
  