<app-navbar></app-navbar>

<section class="text-center mt-10 mb-6 px-4 animate-fadeIn">
  <h2 class="text-3xl font-bold text-gray-800 mb-2">Ofertas Destacadas de la Semana</h2>
  <p class="text-gray-600 text-sm">Descubre las mejores computadoras, laptops y accesorios recomendados para ti.</p>
  <br>
</section>
<div class="px-4 md:px-20 mb-10">
  <app-carrousel></app-carrousel>
</div>

<div class="background">

  <!-- Descripción de categorías -->
  <section class="seccion-principal animate-fadeIn">
    <h2 class="titulo-seccion">Explora nuestras categorías</h2>
    <p class="texto-central mb-6">
      Encuentra el equipo perfecto para tus necesidades, ya sea para gaming, trabajo o estudio. Explora nuestras colecciones de hardware y periféricos.
    </p>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 px-4 md:px-10">
      <div *ngFor="let categoria of categorias" class="bg-white shadow-lg rounded-lg p-6 text-center hover:shadow-xl transition duration-300">
        <img [src]="categoria.icono" [alt]="categoria.titulo" class="mx-auto h-32 mb-4 drop-shadow-md rounded-full p-2 bg-gray-50">

        <h3 class="text-lg font-semibold" [ngClass]="categoria.color">{{ categoria.titulo }}</h3>
        <p class="text-sm text-gray-600">{{ categoria.descripcion }}</p>
      </div>
    </div>
  
  </section>

  <!-- Beneficios de comprar con nosotros -->
  <section class="seccion-clara animate-fadeUp mt-16">
    <h2 class="titulo-seccion">¿Por qué comprar tu computador con nosotros?</h2>
    <div class="grid-valores">
      <div class="valor-item">
        <h3 class="valor">Tecnología de punta</h3>
        <p>Ofrecemos equipos con las últimas especificaciones para un rendimiento óptimo.</p>
      </div>
      <div class="valor-item">
        <h3 class="valor">Garantía y soporte</h3>
        <p>Brindamos garantía y atención especializada para que compres con confianza.</p>
      </div>
      <div class="valor-item">
        <h3 class="valor">Precios competitivos</h3>
        <p>Encuentra las mejores ofertas y promociones en todo tipo de computadores y accesorios.</p>
      </div>
    </div>
  </section>

</div>

<app-footer></app-footer>
